@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi-variable.ttf") format("truetype");
  font-weight: 100 900; /* variable weight dari thin sampai black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtre";
  src: url("/fonts/figtree-variable.ttf") format("truetype");
  font-weight: 100 900; /* variable weight dari thin sampai black */
  font-style: normal;
  font-display: swap;
}
